.badge-notif {
  background: red;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  box-shadow: 0 0.1rem 0.1rem rgba(0, 0, 0, 0.175);
  border: 2px solid #fff;
  position: relative;


  .number-msg {
    color: white;
    font-size: 13px;
    position: absolute;
    left: 4px;
    top: -1px;

  }
}

.header-section {
  padding-bottom: 0;
  margin-bottom: 0;
  border-bottom: 0.1em solid #eeeeee;

    .searchBar {
      background-color: #fff;

      input {
        outline: 0;
        border: 0;
        border-bottom: 2px solid #e7e7e7;
        border-radius: 0;
        text-align: center;
        font-style: normal;
        font-weight: normal;
        font-size: 1em;
        font-family: Montserrat, serif;
        color: #646464;
      }

      .addChat {
        border: none;
        background-color: unset;
        margin-left: 0;
        padding-left: 0;
        //margin-right: ;
      }

      .fa {
        font-size: 2.5em;
        color: #00a9ce;
        font-weight: 100;
        border: none;
        background-color: unset;
        margin-left: 0;
        //color-interpolation: auto;
      }
    }

    .chat-categories {
      font-weight: 150;
      font-size: 1.4em;
      font-family: Montserrat, serif;

      .cat-option {
        cursor: pointer;
      }

      .requests {
        font-size: .7em !important;
      }

      .cat-option:hover {
        border-bottom: .7em solid hotpink;
        border-bottom-width: medium;
      }
    }
}



.list-user {
  height: 75vh;
  overflow: hidden;
  overflow-y: scroll;
  scroll-margin: 2em;
  scroll-behavior: smooth;
}

.chat-card {
  margin: 0;
  padding: 0;
  font-family: Montserrat, serif;
  cursor: pointer;
}

.chat-name {
  font-weight: bold;
  font-size: 1.5em;
}

.chat-time {
  font-size: .9em;
  font-weight: 100;
}

.chat-message {
  font-family: Montserrat, serif;
  font-weight: 400;
  width: 100%;
  overflow: hidden;
  font-size: 1.2em;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.chat-card:hover {
  background: #eeeeee;
}

.container-avatar {
  transition: 0.5s;
  cursor: pointer;
  margin: 0;
  padding: 0;

  img {
    object-fit: cover;
    width: 60px;
    height: 60px;
    overflow: hidden;
    border: white solid 1px;
  }
}

.container-divided-picture {
  transition: 0.5s;
  width: 60px;
  height: 60px;
  position: relative;
  overflow: hidden;
  border: white solid 2px;
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.175);
  -webkit-box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.175);
  cursor: pointer;

  img {
    position: absolute;
    object-fit: cover;
  }

  .left-picture {
    left: 0;
    border-right: white solid 1px;
  }

  .right-picture {
    right: 0;
    border-left: white solid 1px;
  }
}

